<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code</title>
    <link rel="stylesheet" href="../res/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../res/stylesheets/style.css">

</head>

<body>
    <div class="jumbotron">
        <h1 class="display-3">Code</h1>
        <div class="card text-white bg-primary mb-4" style="margin: auto;">
            <div class="card-header">Instructions</div>
            <div class="card-body">
                <ul>
                    <li>Read and understand the Problem</li>
                    <li>Every problem consists of the following : 
                        <ul>
                            <li>Name</li>
                            <li>Statement</li>
                            <li>Input Pattern</li>
                            <li>Output Pattern</li>
                            <li>Constraints</li>
                            <li>Example</li>
                        </ul>
                    </li>
                    <li>Write a program to solve the problem.</li>
                    <li>Get the input by clicking the button saying "Get Input"</li>
                    <li>Use that input and generate the output txt file</li>
                    <li>Submit the output file to check the output</li>
                </ul>
            </div>
        </div>

        <p class="lead">
            <a class="btn btn-primary btn-lg" id="btn-start" role="button" href="problem.html">Start</a>
        </p>
        
    </div>

    <div class="alert alert-primary m-1" style="margin-bottom:-8px;font-size: 0.9rem;text-align: center">
        Developed by Sarthak SG
    </div>
</body>

</html>